
body{

    background-color:aliceblue;
}



@media(max-width: 30em){  /*30 x 16 = 480px  */
    table td[data-titulo]{
        display:flex;
    }

    table td[data-titulo]::before {
        content: attr(data-titulo);
        color: teal;
        font-weight: bold;
        padding-right:1rem;
    }
}